@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    padding: 25px;
    min-height: 100vh;
    background: rgb(76,118,198);
    background: linear-gradient(353deg, rgba(76,118,198,0.65) 0%, rgba(29,25,113,0.65) 50%, rgba(221,126,23,0.65) 100%);
    background-repeat:no-repeat ;
    background-size:100%;
    text-align: center;
    font-family: "Mulish", serif;
    color: azure;
    font-weight: 300;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#logoimg{
    width: 190px;
    padding: 15px;
}

h1, h2{
    font-weight: 800;
    font-size: 20px;
    color:  rgba(29,25,113);
}

.container{
    background-color: azure;
    height: 260px;
    width: 400px;
    border-radius: 15px;
    padding: 20px;
    transition: 0.2s;
}

.container.active{
    height: 500px;
}

/* Header */

#qr-header {
    text-align: center;
}

#qr-header h1{
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 10px;
}

#qr-header p{
    color: #333;
    font-size: 0.9rem;
    padding-bottom:15px ;
}

/* Form */
#qr-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#qr-form input, #qr-form button{
    width: 100%;
    height: 55px;
    border: none;
    border-radius: 5px;
    font-size: 0.8rem;
}

#qr-form input{
    border: 1px solid rgb(76,118,198);
    padding: 0 10px;
}

#qr-form button{
    background-color: rgb(76,118,198);
    color: rgba(29,25,113,0.65);
    font-size: 1.2rem;
    margin: 20px 0;
    cursor: pointer;
    opacity: 0.7;
}

#qr-form button:hover{
    opacity: 1;
    color: white;
}

/* QR Code */
#qr-code img{
    height: 200px;
    width: 200px;
}

#qr-code{
    display: flex;
    opacity: 0;
    border: 1px solid #ccc;
    padding: 30px 0;
    margin: 20px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: 0.5s;
}

.container.active #qr-code{
    opacity: 1;
}