@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    padding: 25px;
    height: 100vh;
    background: rgb(76,118,198);
    background: linear-gradient(353deg, rgba(76,118,198,0.65) 0%, rgba(29,25,113,0.65) 50%, rgba(221,126,23,0.65) 100%);
    background-repeat:no-repeat ;
    background-size:100%;
    text-align: center;
    font-family: "Mulish", serif;
    color: azure;
    font-weight: 300;
    overflow-y: hidden;
}

#logoimg{
    width: 190px;
    padding: 15px;
}

h1, h2{
    font-weight: 800;
    font-size: 20px;
}